@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
.header{
    padding:30px 0px;
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 15px;
    color:black;
    font-weight:400;
    text-decoration: none;
    margin-left: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #666666
  }
.logo{
    color: black;
}
/* .div{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.h1{
    font-size: 50px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p{
    color: gray;
    font-size: 16px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    background-color: #ff6a6a;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    font-size:18px;
    font-weight: bold;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button:hover{
    background-color: #e55555;
}
.image{
    float:right;

} */

.div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:245px;
    margin-top:79.46px;
}
.h1{
    font-size: 50px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.paragh{
    color: gray;
    font-size: 16px;
    min-width: 450px;
    margin-bottom:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    background-color: #ff6a6a;
    color: #fff;
    text-decoration: none;
    padding: 12px 25px;
    font-size:18px;
    font-weight: bold;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button:hover{
    background-color: #e55555;
}
.image{
    float:right;
}
.div1{
    display: flex;
    justify-content: space-between;
    margin-top:70px;
    margin-bottom: 94px;
 
}
.same{
    max-width: 300px;
}
.known{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom:30px;
}
.run{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom:30px ;
}
.just{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom:30px ;
}
.text1{
    color: #333333;
    font-size: 15px;
    line-height: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button1{
    color: #EA625C;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin-top: 20px;
}
.div2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:110px;
    margin-top:70px;
    margin-bottom: 70px;
}
.nike{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;

}
.made{
    color: #777; ;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
}
.button2{
    background-color: #ff6a6a;
    color: #fff;
    text-decoration: none;
    padding: 12px 60px;
    font-size:18px;
    font-weight: 700;
    line-height: 27px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button2:hover{
    background-color: #e55555;
}